<div class="modal-header"><h3 class="modal-title">Sign In</h3></div>

<div class="modal-body">
    <p>Sign-in to begin using other parts of this website.</p>
    <a id="google-plus-button" ng-click="ok()">&#032;</a>
    <p> <small>By clicking Sign in with Google, you agree to our <a href="#/terms" target="_blank">Terms of Use</a>.</small></p>
</div>

<div class="modal-footer" ng-controller="LoginController">
    <button class="btn btn-primary" ng-click="cancel()"><span class="glyphicon glyphicon-ban-circle"></span>&#032;Cancel&#032;</button>
</div>
