<div ng-cloak  ng-controller="MyQuickieListController" ng-init="init()">
    <div class="page-header">
        <h1>My Quickies
        <small>Manage your Quickies</small>
        </h1>
    </div>
    <div>
        <div class="row">
            <div class="col-lg-12  simple-panel">
                <div ng-show="dataProvider.length==0">
                    <p>You currently have no quickies. You can <a ng-click="goToAddQuickie()">add a new quickie</a>.</p>
                </div>
                <div class="gridStyle" ng-grid="gridOptions"></div>
                <div class="clearfix controlbar">
                    <button ng-click="init()" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span></button>
                    <button ng-click="goToPropositions()" class="btn btn-success pull-right"><span class="glyphicon glyphicon-bullhorn"></span>&#032;Propositions&#032;</button>
                    <button ng-click="edit()" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-edit"></span>&#032;Edit&#032;</button>
                </div>
            </div>
        </div>
    </div>
</div>